<div class="jumbotron">
    <h1 class="display-4">Webmaster:</h1>
    <p class="lead" @fade>{{webmaster}}, nr albumu {{index_no}}</p>
    <hr class="my-4">
    <h3><span class="badge badge-pill badge-primary">Licencje</span></h3>
    <a href="https://pl.freepik.com/darmowe-wektory/ikony-pogody-wielokata_3948953.htm#query=weather%20icons&position=18&from_view=search&track=ais">Obraz autorstwa macrovector</a> na Freepik
    <br>
    <a href="https://pl.freepik.com/darmowe-zdjecie/zenscy-turysci-na-rece-maja-szczesliwa-podroz-mape_3953407.htm#query=trip&position=0&from_view=search&track=sph">Obraz autorstwa jcomp</a> na Freepik
    <br>
    <br>
    <h3><span class="badge badge-pill badge-primary">API</span></h3>
    <a href="https://api.weatherapi.com/v1/forecast.json?key=abacc8fa4ca44710b7d180424231405&q=Paris&days=1&aqi=no&alerts=no">https://api.weatherapi.com/v1/forecast.json?key=abacc8fa4ca44710b7d180424231405&q=Paris&days=1&aqi=no&alerts=no </a> Implementacja API zwracająca dane o pogodzie w wyszukanym mieście
    <br>
    <a href="https://rapidapi.com/cedricnoguera/api/open-weather-map27">https://rapidapi.com/cedricnoguera/api/open-weather-map27</a> <s>Implementacja API zwracająca dane o pogodzie w wyszukanym mieście</s>
    <br>
    <a href="https://rapidapi.com/cedricnoguera/api/open-weather-map27">https://restcountries.com/v3.1/all</a> Implementacja API dopasowująca stolicę i flagę do wszystkich państw świata 


  </div>