<p>main works!</p>
<div class="container-fluid">
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 14 14"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M10.5 8.5a5 5 0 1 1-8.25-3.8"/><path d="M5.28 6.65a1.6 1.6 0 0 0-.16.7a1.52 1.52 0 0 0 1.53 1.53a.77.77 0 0 1 .77.77v3.47M.57 9.27h1.85A1.54 1.54 0 0 1 4 10.81v2.45m9.26-11.39l-1-.34a.34.34 0 0 0-.39.13l-.73 1.13l-4-2A2.49 2.49 0 0 0 3.53 2.1A.68.68 0 0 0 4 3l2.61.84l.26.09l.49 1.68a.36.36 0 0 0 .24.25l1.18.38a.37.37 0 0 0 .48-.41L9 4.58h.17l2.55.83a.67.67 0 0 0 .85-.41l.9-2.77a.34.34 0 0 0-.21-.36Z"/></g></svg> Trip Office</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link " routerLink="home" >Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="places">Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="currentWeather">Current Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="about">About</a>
                </li>
            </ul>
        </div>
     </div>
   </nav>
   
   <!-- <div class="p-1 mb-1 bg-light rounded-3">
    <div class="container-fluid p-4">
      <h1 class="display-5 fw-bold">Trip Office</h1>
       </div>
    </div> -->

    <div class="mb-4 p-4 row justify-content-center align-items-center g-2">
        <div class="col">
            <div class="card border-primary shadow">
              <div class="card-body">
                <h4 class="card-title">Explore places you'd like to visit and chceck the current weather</h4>
                
                    <router-outlet #outlet="outlet"></router-outlet>
      
            </div>
            </div>
        </div>
        
    </div>

</div>