<p>main works!</p>
<div class="container-fluid">
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link " routerLink="home" >Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="places">Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="currentWeather">Current Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="about">About</a>
                </li>
            </ul>
        </div>
     </div>
   </nav>
   
   <div class="p-1 mb-1 bg-light rounded-3">
    <div class="container-fluid p-4">
      <h1 class="display-5 fw-bold">Trip Office</h1>
       </div>
    </div>

    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <div class="card border-primary shadow">
              <div class="card-body">
                <h4 class="card-title">Explore places you'd like to visit and chceck the current weather</h4>
                
                <router-outlet></router-outlet>
      
            </div>
            </div>
        </div>
        
    </div>

</div>