
<!-- <div class="search">
     <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="City name" name="city" [(ngModel)]="searchQuery"><button type="submit">Search</button>
    </form> 
</div> -->

<div @fade class="wrapper">
    <div class="container">
        <div class="search">
            <form #form="ngForm" (submit)="onSubmit()">
               <input placeholder="City name" name="city" [(ngModel)]="searchQuery"><button 
                mat-raised-button
                matTooltip="Info about the action"
                aria-label="Button that displays a tooltip when focused or hovered over"
                type="submit">
                    Search
                </button>
           </form> 
       </div>
       
        <div  class="upper">
            
        <img @fade *ngIf="myData.current.temp_c > 25" src="../assets/backgr_hi.svg" >
        <img @fade *ngIf="myData.current.temp_c > 15 && myData.current.temp_c < 25" src="../assets/backgr_med_hi.svg" >
        <img @fade *ngIf="myData.current.temp_c > 5 && myData.current.temp_c < 15 " src="../assets/backgr_med_lo.svg" > 
        <img @fade *ngIf="myData.current.temp_c > -5 && myData.current.temp_c < 5 " src="../assets/backgr_lo.svg"> 
        <img @fade *ngIf="myData.current.temp_c < -5 "src="../assets/backgr_v_lo.svg">
            
          <div  class="weather-data">
            <div class="location">
                
                {{myData.location.name}}
            </div>
            <div class="temperature">{{myData.current.temp_c | number: '1.0-0'}}°C
            </div>
        
       
            </div>
        </div>
        <div class="lower">

            <div class="more-info-label"></div>
            <div class="more-info-container ">
                
                <div class="info-block ">
                    <div class="info-block-label">
                        <img src="../assets/min.jpg">
                        <span>PERCEIVED</span>
                    </div>
                    <div  class="info-block-value">
                        {{myData.current.feelslike_c}}°C
                    </div>
                </div>

                <div class="info-block ">
                    <div class="info-block-label">
                        <!-- <img src="../assets/max.jpg"> -->
                        <!-- <i class="fa-solid fa-location-arrow fa-spin"></i>
                        <i class="fa-duotone fa-arrow-left fa-spin"></i> -->
                        <i class="fa fa-solid fa-location-arrow fa-spin fa-3x fa-fw" style="color: #c29d38;"></i>
                        <span>WIND DIRECTION</span>
                    </div>
                    <div class="info-block-value">
                        {{myData.current.wind_dir}}
                    </div>
                </div>

                <div class="info-block ">
                    <div class="info-block-label">
                        <img src="../assets/humidity.jpg">
                        <span>HUMIDITY</span>
                    </div>
                    <div class="info-block-value">
                        {{myData.current.humidity}}%
                    </div>
                </div>

                <div class="info-block ">
                    <div class="info-block-label">
                        <img src="../assets/wind.jpg">
                        <span>WIND SPEED</span>
                    </div>
                    <div class="info-block-value">
                        {{myData.current.wind_kph}} km/h
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
